* {
	margin: 0;
	padding: 0;
}

body * {
	font-family: 'Montserrat', sans-serif;
	color: #f8f8f8;
}

.grid-container {
	display: grid;
	grid-template-columns: 250px calc(100% - 250px);
	grid-template-rows: 7% 93%;
	grid-row: auto auto;
	height: 100vh;
}

.header {
	background-color: #1abc9c;
}

.header-side {
	min-width: 200px;
	background-color: #16a085;
}

.content-side {
	min-width: 200px;
	background-color: #34495e;
}

.content {
	background-color: #f1f1f1;
}

.logo-container {
	padding-top: 0.2em;
	width: 100%;
	height: 100%;
}

.logo-container h2 {
	font-weight: lighter;
	font-size: 24px;
}

.logo-container div:first-of-type {
	text-align: left;
	padding-left: 1em;
}

.logo-container div:last-of-type {
	text-align: right;
    padding-right: 1em;
}








