.container {
	text-align: center;
	margin: auto 0;
	display: inline-block;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	flex: 0 0 100%;
	flex-direction: column;
}

.login-button-container {
	width: 100%;
}

.login-button {
	width: 6em;
}