* {
	margin: 0;
	padding: 0;
}

body * {
	font-family: 'Montserrat', sans-serif;
	color: #f8f8f8;
}

.grid-container {
	display: grid;
	grid-template-columns: 250px calc(100% - 250px);
	grid-template-rows: 70px calc(100% - 70px);
	grid-row: auto auto;
	height: 100vh;
}

.input-error-message {
    color: red;
}

.header {
	background-color: #1abc9c;
}

.header-side {
	min-width: 200px;
	background-color: #16a085;
}

.content-side {
	min-width: 200px;
	background-color: #34495e;
}

.content {
	background-color: #f1f1f1;
}

.logo-container {
	width: 100%;
	height: 100%;
}

.logo-container img {
	padding-top: 0.6em;
	padding-right: 1em;
	padding-left: 2.3em;
	float: left;
	width: 50px;
	float: left;
}

.logo-container h2 {
	padding-top: 0.5em;
	font-size: 20px;
	font-weight: lighter;
}

.header {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.header-title {
	padding-left: 1.5em;
	font-weight: 300;
}

.content-side-button {
	width: 100%;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 1em;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid white;
}

.content-side-button:hover {
	background-color: #2f4052;
}

.user-pane {
	background-color: #2a3b4c;
}

.user-img {
	padding-top: 2em;
	padding-bottom: 1em;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
}

.user-details {
	text-align: center;
	padding-bottom: 1em;
}

.username {
	font-size: 30px;
	font-weight: 500 !important;
}

.employee-no {
	font-size: 16px;
	color: #cccccc !important;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-container input {
    margin-left: auto;
}

.logout-button {
    margin-right: 2em;
    outline: none;
    background: none;
    border: 2px solid #5fd0ba;
    outline: none;
    font-size: 16px;
    padding: .5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.logout-button:hover {
    transition: .3s ease;
    background-color: #16a085;
}

.section-header {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: .5em;
}

.section-header h3 {
    padding-bottom: .65em;
    border-bottom: 1px solid lightgray;
    color: black;
    font-weight: bold;
    font-size: 24px;
}


/* Eclipse doesn't let me scroll past end of file, so this is what I have to do




































*/